* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

.login__form {
    display: flex;
    color: red;
}

header {
    margin-top: 15px;
}

.arrows {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    right: 3%;
    font-size: 22px;
    z-index: 900;
}

nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.banner {
    height: 100vh;
    margin-top: 100px;
}



