<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование статьи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="sections/header :: header"></header>

<main>
    <div class="container mt-5">
        <h1>Редактирование статьи</h1>
        <div th:each="element : ${post}">
            <form method="post">
                <input type="text" th:value="${element.title}" name="title" placeholder="Заголовок статьи" class="form-control mt-4">
                <input type="text" th:value="${element.announce}" name="announce" placeholder="Анонс" class="form-control mt-4">
                <textarea name="content" placeholder="Текст статьи" class="form-control mt-4" th:text="${element.content}"/>
                <button type="submit" class="btn btn-success mt-4">Обновить</button>
            </form>
        </div>
    </div>
</main>

<footer th:insert="sections/footer :: footer"></footer>
</body>
</html>