<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Вход"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{css/bootstrap.min.css}">
    <link th:href="@{css/style.css}">
</head>
<body>

<div class="container">
    <h3>Вход</h3>
    <br>
    <div th:if="${param.error}">
        <h4>Неверное имя пользователя, или пароль</h4>
    </div>

    <div th:if="${param.logout}">
        <h4>Вы вышли из профиля</h4>
    </div>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="username" aria-describedby="nameHelp" name="username">
            <div id="nameHelp" class="form-text">Введите имя пользователя</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-success" value="Sign In">Принять</button>
    </form>
    <br>
    <a href="/registration" class="btn btn-primary">Зарегестрироваться</a>

</div>

</body>
</html>
