<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>

<div class="container">
    <h3>Зарегистрированные пользователи</h3>
    <a class="btn btn-primary" th:href="@{/}">На главную</a>
    <br>
    <br>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID пользователя</th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Права доступа</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <th th:text="${user.id} "scope="row"/>
            <td th:text="${user.username}"></td>
            <td th:text="${user.roles}"></td>
            <td><a class="btn btn-warning" th:href="'/user/' + ${user.id} + '/edit'">Редактировать</a> &nbsp;
                <a class="btn btn-danger" th:href="'/user/' + ${user.id} + '/remove'" methods="post">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
